@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html, body {
  background: url(https://don-3617.github.io/picture/海灘.png);
  background-size: contain;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 6500px;
  margin: 0;
  z-index: 0.5;
}

a {
  color: #7e55fa;
  text-decoration: initial;
}

.all {
  width: 100%;
  z-index: 1;
}

.top {
  background-color: rgba(255, 245, 194, 0.75);
  position: relative;
  width: 100%;
  height: 300px;
  text-align: center;
  z-index: 2;
  letter-spacing: 1px;
  font-family: 微軟正黑體;
  font-size: 100px;
  color: #87a7ff;
  padding-top: 45px;
  padding-bottom: 45px;
}

.box {
  padding-bottom: 65px;
  padding-top: 65px;
  width: 960px;
  background: rgba(252, 242, 225, 0.75);
  margin-left: auto;
  margin-right: auto;
  line-height: 40px;
  font-weight: 900;
  z-index: 1;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

.box:hover {
  box-shadow: 5px 5px 60px rgba(0, 0, 0, 0.4);
  transform: translate(-5px, -5px);
}

.arietta {
  min-height: 400px;
  width: 90%;
  position: relative;
  z-index: 3.5;
  transition: 0.5s;
}

.arietta:hover {
  transform: scale(1.1);
}

.gadorin {
  min-height: 400px;
  width: 90%;
  position: relative;
  transition: 0.5s;
}

.gadorin:hover {
  transform: scale(1.1);
}

.renapic {
  min-height: 400px;
  width: 90%;
  position: relative;
  transition: 0.5s;
}

.renapic:hover {
  transform: scale(1.1);
}

.pinopic {
  min-height: 400px;
  width: 90%;
  position: relative;
  transition: 0.5s;
}

.pinopic:hover {
  transform: scale(1.1);
}

.bottom {
  text-align: center;
}

.bottom ul {
  list-style: none;
}

.bottom h3 {
  font-size: 30px;
  color: #ff85ce;
}

.bottom li {
  font-size: 25px;
  color: #3a61c9;
}

.bottom .link {
  display: inline-block;
  padding: 10px 15px;
  margin-bottom: 25px;
  letter-spacing: 2px;
  background-color: initial;
  transition: 0.5s;
}

.bottom .link:hover {
  background-color: #d1d4ff;
  transform: scale(1.1);
}

.back {
  text-align: center;
  margin-top: -30px;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: 0.5s;
}

.back:hover {
  background-color: #fff6ba;
  transform: scale(1.1);
}

.buttons {
  font-size: 20px;
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 20px;
  z-index: 3;
}

.buttons .btn {
  display: inline-block;
  padding: 10px 25px;
  letter-spacing: 2px;
}

.btnWebsite {
  margin-right: 490px;
  background-color: #fff;
  transition: 0.5s;
}

.btnWebsite:hover {
  background-color: #85c3ff;
  color: #fff;
  z-index: 3.1;
  transform: scale(1.1);
}

.btnNew {
  background-color: #fff;
  float: right;
  transition: 0.5s;
}

.btnNew:hover {
  background-color: #ffd9a1;
  z-index: 3.5;
  transform: scale(1.1);
}

.black {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  transition: 0.5s;
}

.egg {
  margin-top: 20px;
  width: 126px;
  height: 180px;
  background-color: #fff;
  box-shadow: 0px 2px 5px #ccc;
  display: block;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  animation-name: eggroll;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes eggroll {
  0% {
    margin-left: 2%;
    transform: rotate(360deg);
    background-color: #fff;
  }
  20% {
    margin-left: 18%;
    transform: rotate(720deg);
    background-color: #fff8ed;
  }
  40% {
    margin-left: 36%;
    transform: rotate(1080deg);
    background-color: #fff0d9;
  }
  60% {
    margin-left: 54%;
    transform: rotate(1440deg);
    background-color: #fce7c7;
  }
  80% {
    margin-left: 72%;
    transform: rotate(1800deg);
    background-color: #ffe1b5;
  }
  100% {
    margin-left: 90%;
    transform: rotate(2160deg);
    background-color: #ffd9a1;
  }
}